.PageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.SvgRow {
  height: 10rem;
  width: 20rem;
  justify-self: center;
}
.Face {
  width: 20rem;
  height: 20rem;
  margin: 20px;
  align-self: center;
  justify-self: center;
  background-color: black;
}
.FaceQuarter {
  height: auto;
  width: 50%;
  padding: 0;
  margin: 0;
  border: 0;
}
.FaceNumberText {
  text-align: center;
  color: #999;
  font-size: 2em;
  font-style: bold;
  font-family: monospace;
}
.Rot0 {
  transform: rotate(0deg);
}
.Rot90 {
  transform: rotate(90deg);
}
.Rot180 {
  transform: rotate(180deg);
}
.Rot270 {
  transform: rotate(270deg);
}
.ShuffleButton {
  width: 20rem;
  margin-top: 20px;
  font-size: 3em;
  align-self: center;
  background-color: #aaa;
}
.SettingsDrawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw;
}
.Countdown {
  height: 100%;
  width: 100%;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CountdownSlider {
  margin: 1vw;
}
